.hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: stretch;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    max-height: 800px;
    padding: 0;

    container-type: inline-size;
    container-name: hero-container;

    overflow: hidden;

    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: min(500px, 100%);
        height: 100%;
        padding: 0 80px 0 max(80px, 15%);


        .hero-title {
            font-size: 2.5rem;
            font-weight: bold;
            color: var(--clr-on-surface);
        }

        .hero-subtitle {
            font-size: 1.5rem;
            color: var(--clr-on-surface);
        }
    }

    .hero-video {
        position: absolute;
        width: 100%;
        height: 100%;
        max-height: 800px;
        object-fit: cover;
    }

    @container hero-container (max-width: 800px) {
        .hero-content {
            padding: 40px;
            align-self: flex-end;
            height: fit-content;
        }

        /* Adjust font sizes for smaller containers */
        .hero-content .hero-title {
            font-size: 1.8rem;
        }

        .hero-content .hero-subtitle {
            font-size: 1.1rem;
        }
    }
}
