/* Google Webfont*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family= Source + Sans + Pro: 400.600.700 & display = swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,400i,500,500i,600,700');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    line-height: 1;
    background: var(--body_background_color);
    font-family: var(--main_font);
    color: var(--font_color);
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, html {
    height: 100%;
    min-height: 100%;
}

html {
}

ol, ul {
    list-style: none;
    line-height: 1.2em;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: inherit;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    line-height: 1.5em;
    margin: 20px 0;
}

ul, li {
    line-height: 1.5em;
}

/* HTML 5 Elemente = display:block;  */
header, nav, section, footer, article, figure, aside, content {
    display: block;
}

mark {
    background-color: #EDFFED;
}


::-moz-selection { /* Code for Firefox */
    color: var(--basic_color);
    background-color: #666666;
}

::selection {
    color: var(--basic_color);
    background-color: #666666;
}
