/* Headlines  */

h1 {
    font-family: 'Work Sans';
    font-weight: 300;
    font-size: 30px;
    line-height: 1.2em;
    letter-spacing: -1px;
}

h2 {
    font-family: 'Work Sans';
    font-weight: 300;
    font-size: 30px;
    line-height: 1.2em;
}

h3 {
    line-height: 1.4;
    font-weight: 700;
    font-size: 20px;
}

h4 {
    color: var(--basic_color);
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 300;
}

h5 {
    color: var(--basic_color);
    line-height: 1.2em;
    font-weight: 300;
}

mark {
    padding: 5px;
    background-color: #fff7e1;
}

/* Basic Elements -------------------------------------*/

hr {
    border: 0;
    height: 1px;
    background-color: #ebebeb;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.center {
    text-align: center;
}

.lightgrey {
    background-color: var(--lightgrey);
}

.overflow {
    overflow: hidden;
}

.padding {
    padding: 20px;
}

strong {
    line-height: 1.4em;
}

.pic {
    width: 100%;
    background-color: var(--lightgrey);
    min-height: 300px;
    display: block;
}

.dezimal li {
    list-style-type: decimal;
}

a {
    text-decoration: none;
    color: #181818;
    transition: 0.2s
}

a:hover {
    color: #777777;
}

a.extern {
    display: inline-block;
    background: #101010;
    padding: 10px 15px;
    color: #ffffff;
    border-radius: 2px;
}

a.extern:hover {
    background: #181818;
    color: #ffffff;
}

/* Goldener Schnitt / Strecke ----------------------------------*/

.shortway {
    width: 35%;
}

.longway {
    width: 65%;
}

.halfway {
    width: 48%;
}

.firstcolumn {
    width: 33%;
}

.centercolumn {
    width: 33%;
}

.lastcolumn {
    width: 33%;
}


.firstcolumn_four, .secoundcolumn_four, .thisrtcolumn_four, .lastcolumn_four {
    width: 24.5%;
}

.firstcolumn_four p, .secoundcolumn_four p, .thisrtcolumn_four p, .lastcolumn_four p {
    font-weight: 600;
}

.firstcolumn_four a, .secoundcolumn_four a, .thisrtcolumn_four a, .lastcolumn_four a {
    color: #FF9800;
    font-size: 1.2em;
}

.firstcolumn_four a:hover, .secoundcolumn_four a:hover, .thisrtcolumn_four a:hover, .lastcolumn_four a:hover {
    color: #101010;
    font-size: 1.2em;
}

.service_list span {
    color: #101010;
}


article ul {
    margin-top: 20px;
    margin-bottom: 30px;
}


article ul li {
    list-style-type: none;
    padding: 0px 5px;
    margin-left: 30px;
}

article ul li::before {
    content: "\2022";
    color: #dee5ee;
    position: relative;
    top: 6px;
    font-size: 33px;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -33px;
    z-index: 0;
}

.yellowborder {
    border: 4px solid #c9c9c9;
    padding-bottom: 20px;
    border-radius: 3px;
}

.autorin {
    width: 170px;
    height: 170px;
}


ol {
    margin: 20px;
    padding: 0 0 0 0px;
}

ol li {
    font-weight: 600;
    margin-bottom: 30px;
}

ol li ul li {
    list-style: square;
    font-weight: 300;
    margin-bottom: 0px;
}

ol li ul li ul li {
    list-style: decimal;
    font-weight: 300;
    font-size: 0.8em;
    color: #999999;
}

.date {
    font-size: 0.7em;
    color: #4ECDC4;
}

.numberlist {
    list-style-type: decimal;
}


/*--------------- Service Liste -------------------------- */
.service_list {
    width: 100%;
    text-align: center;
    margin: 70px 0px;
}

.service_list div {
    display: inline-block;
    min-height: 250px;
}


/* Passende Artikel ---------------------------------------------------------------*/

.sidebar_yellow_border {
    border-left: 0px solid #f4f4f4;
    background: #F3F5FF;
    padding: 20px;
    margin-left: 30px;
    margin-bottom: 15px;
    border-radius: 12px;
}

.sidebar_yellow_border a {
    font-weight: 300;
}

.sidebar_border {
    background: #F3F5FF;
    padding: 20px;
    margin-left: 30px;
    border-radius: 12px;
}

.sidebar_border a::after {
    content: " →";
    font-weight: 600;
}

.sidebar_border ul li {
    margin: 5px 0;
    padding: 0;
}

.sidebar_border li::before {
    content: " ";
    font-weight: 600;

}

.sidebar_yellow_border li {
    display: block;
    padding: 0;
    margin: 0 33px 10px;
    font-size: 0.8em;
}

.sidebar_yellow_border a {
    font-weight: 600;
}

.sidebar_yellow_border li::before {
    content: "NEU";
    font-size: 0.8em;
    padding: 0 5px;
    height: auto;
    margin-right: 5px;
    width: auto;
    position: relative;
    top: -2px;
    color: #ffffff;
    background: #ffffff;
}

.back_button {
    border: none;
    line-height: 1.4em;
    font-size: 1em;
    color: #FF9800;
    cursor: pointer;
}

.back_button:hover {
    color: #181818;
}

/* Glossar ---------------------------------------------------------------*/

.glossar_list li::before {
    content: "";
    list-style-type: none !important;
    list-style: none;
}

.glossar_list li a {
    color: #181818;
    font-weight: 400;
}

.glossar_list li a::after {
    content: " →";
    font-weight: 600;
}

.glossar_list li a:hover {
    color: #FF9800;
}

.glossar_list .current {
    color: red;
}

/* VCard ---------------------------------------------------------------*/

.vcard {

}


.vcard_container {
    position: relative;
    background-color: #ffffff;
    /* -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.05);
     -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.05);
     box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.05); */
    border: 0px solid #ffffff;
    width: 61%;
    max-width: 1147px;
    min-width: 1147px;
    margin: 0 auto;
    padding: 0;
    min-height: 150px;
    box-sizing: border-box;
    z-index: 100;

}

.flex {
    display: flex;
}


.vcard_box_right {
    color: #333333;
    background-color: #ffffff;

    /* background-size: 600% 600%;
    background:  var(--animate_bg_color_two)
    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    -o-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite; */
}

.vcard_box_right p {
    font-family: 'Cormorant Garamond';
    font-weight: 500;
    font-size: 2.8em;
    line-height: 50px;
    text-align: center;
    font-style: italic;
    padding: 50px 40px;
}

.vcard_wrap {
    width: 100%;
    min-height: 360px;
}

.skill_wrap {
    width: 100%;
}

.article_teaser p, .skill_box p {
    padding: 10px 20px 0;
}

.article_teaser h2, .skill_box h2 {
    padding: 20px;
}

.socialmedia {
    float: right;
}

.socialmedia img {
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
}

.whatido {
    color: #ffffff;
    background-color: #FF6B6B;
    font-family: 'Cormorant Garamond';
    font-weight: 300;
    padding-bottom: 20px !important;
    font-size: 1.4em;
    font-style: italic;
}

.createdcontent {
    overflow: hidden;

}

.createdcontent .longway p, .createdcontent .longway h1, .createdcontent .longway h2, .createdcontent .longway h3 {
    padding: 0 80px 0 0;
}

.createdcontent .longway p {
    line-height: 1.9em;
}

.createdcontent article h1 {
    font-weight: 600;
    margin-bottom: 40px;
}

.createdcontent .longway h2 {
    font-size: 1.6em;
}

.createdcontent h3 {
    font-size: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.createdcontent h3 span {
    color: #00CCC0;
    float: right;
}


.subline {
    position: relative;
    bottom: 30px;
    left: 0;
    display: inline-block;
    font-weight: 300;
    font-family: 'Montserrat';
    color: #ffffff;
    background: none;

}

.subline p {
    padding: 20px;
    margin: 0 !important;
}

.phone {
    display: inline-block;
    position: relative;
    background: #FF9800;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 2px;
    margin: 18px 15px;
}

.phone:hover {
    color: #ffffff;
}

.whatsapp {
    display: inline-block;
    margin-top: 18px;
}

.footerphone {
    display: inline-block;
    position: relative;
    background: #181818;
    color: #ffffff;
    font-weight: bold;
    padding: 4px 15px;
    border-radius: 2px;
}

.footerphone:hover {
    color: #ffffff;
}

article a {
    color: #FF9800;
    font-weight: bold;
}

article a:hover {
    color: #181818;
}

/* Intro ----------------------------------*/

.intro h1 {
    color: var(--basic_color);
}


.top_news h2::after, .top_news h1::after, .nl_content_link::after {
    display: inline-block;
    width: 16px;
}

.top_news h1::after {
    content: url('../assets/img/arrow.svg');
    float: right;
    margin-top: -90px;
    margin-right: -10px;
}

.top_news ul a::after {
    content: url('../assets/img/black_arrow.svg');
    width: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
    left: 15px;

}

.arrow_link::after {
    content: url('../assets/img/arrow.svg');
    display: inline-block;
    position: relative;
    top: 2px;
    left: 10px;
    width: 15px;
}

.nl_content_link::after {
    content: url('../assets/img/black_arrow.svg');
    margin: 0 0 0 15px;
    position: relative;
    top: 3px;
}

.intro {
    background: #101010 url('http://mediathek.pr-tore.de/img/tiefgaragentor.jpg');
    background-position: top center;
    background-size: cover;
    padding-bottom: 10px;
}

.wrapper {
    max-width: 1280px;
    min-height: 50px;
    margin: 150px auto 0px;
    text-align: center;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.intro_text {
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    left: 19px;
    min-width: 280px;
    max-width: 450px;
    border-radius: 5px;
    color: #181818;
    font-size: 1.2em;
    font-weight: 600;
}

.intro_subtitle {
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    left: 19px;
    min-width: 280px;
    max-width: 450px;
    border-radius: 5px;
    color: #181818;
    font-size: 1.1em;
    font-weight: 300;
}

.lead_cta {
    display: inline-block;
    padding: 15px 25px;
    letter-spacing: 1px;
    position: relative;
    border-radius: 5px;
    background: #FF9800;
    font-weight: 600;
    color: #ffffff;
}

.lead_cta:hover {
    background: #181818;
    color: #ffffff;
}

#mc_embed_signup {
    width: 60%;
    margin: 0px auto;
}

.newsletter {
    color: #ffffff;
    background: linear-gradient(-45deg, rgba(20, 224, 195, 1) 0%, rgba(28, 154, 190, 1) 66%);
    font-family: 'Montserrat';
    font-weight: 300;
    margin: 10px auto;
    padding-bottom: 0px;
    padding-top: 80px;
    font-family: 'Open Sans';

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    -o-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
}

.newsletter h4 {
    Font-weight: 500;
}

.newsletter h5 {
    font-family: 'Open Sans';
}

.newsletter h2 {
    line-height: 1.5em;
    font-weight: 600;
    letter-spacing: -1px;
}


.newsletter .button {
    border: 2px solid #ffffff;
}

.newsletter .button:hover {
    border: 2px solid #181818;
}

.nl_content_link {
    color: #ffffff;
    text-decoration: underline;
    font-family: 'Open Sans';
}

.nl_content_link:hover {
    color: #181818;
}

.intro.detmold_artikelteaser {
    /*  background: linear-gradient(60deg, #84d2f6, #E08003, #84d2f6); */
    background: #181818 url('http://mediathek.pr-tore.de/img/detmold_garagentore_referenz.jpg') no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 200px;
    /* background-size: 600% 600%;
    text-align: left;

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    -o-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;*/
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 86%
    }
    50% {
        background-position: 100% 15%
    }
    100% {
        background-position: 0% 86%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 86%
    }
    50% {
        background-position: 100% 15%
    }
    100% {
        background-position: 0% 86%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 86%
    }
    50% {
        background-position: 100% 15%
    }
    100% {
        background-position: 0% 86%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 86%
    }
    50% {
        background-position: 100% 15%
    }
    100% {
        background-position: 0% 86%
    }
}


/* Top Youtube Channel ----------------------------------*/

.youtubechannel {
    padding: 80px 20px 30px;
    margin: 10px auto;
    text-align: center;
}

.youtubechannel li {
    text-align: center;
}

.youtubechannel a {
    text-align: left;
    color: #181818;
    line-height: 18px;
    font-weight: 600;
    display: block;
    overflow-x: hidden;
    background: linear-gradient(-45deg, rgba(255, 108, 84, 1) 0%, rgba(252, 167, 114, 1) 66%);
    font-family: 'Montserrat';
    width: 250px;
    margin: 0px auto;
    padding: 7px 7px;
    border-radius: 3px;
    font-family: 'Open Sans';
    border-radius: 100px;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    -o-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}

.youtubechannel a:hover {
    background: linear-gradient(-45deg, rgba(252, 167, 114, 1) 0%, rgba(255, 108, 84, 1) 66%);

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    -o-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}


.youtubechannel a img {
    width: 60px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
}

.youtubechannelspan_top {
    margin-top: 12px;
    display: block;
}

.youtubechannelspan_bottom {
    font-size: 0.8em;
    display: block;
    color: #ffffff;
}


.yt_group ul {
    text-align: center;
    clear: both;
    /* border: 1px solid red; */
}

.yt_group ul li {
    width: 19.5%;
    display: inline-block;
    /* border: 1px solid red; */
}

.yt_group ul li p {
    margin: 0 !important;
    font-size: 0.8em;
    color: #999999;
}

.yt_group ul li h2 {
    font-family: 'Montserrat';
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 26px;
}

.youtubechannel h2 {
    font-size: 2.3em;
    font-weight: 600;
    letter-spacing: -1px;
    font-family: 'Work Sans';
    line-height: 1.2em;
}

.youtubechannel h3 {
    color: #999999;
    font-weight: 300;
}


/* Autor ----------------------------------*/
.autor_1 {
    background: linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 66%);
    font-family: 'Montserrat';
    font-weight: 300;
    margin: 10px auto;
    padding-bottom: 30px;
    padding-top: 50px;
    font-family: 'Open Sans';

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    -o-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
}

/* Form ----------------------------------*/
form {
    background: none;
    padding: 0 0 0 0;
    border: 0px solid #ffffff;
}

input[type=text], input[type=email], input[type=number], textarea {
    border: none;
    border: 1px solid #8c99ac;
    /*width: 90%;*/
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 20px 15px;
    margin-bottom: 9px;
    border-radius: 2px;
    font-family: 'Roboto';
}

/*
input::placeholder, textarea::placeholder{
    color: #f8f8f8;
}*/

textarea {
    height: 139px;
    font-size: 16px;
    border-radius: 2px;
    border-left: 1px solid #8c99ac;
    font-family: 'Roboto';
}

input[type="email"].big-dog::-webkit-input-placeholder {
    color: var(--placeholder);
    padding: 10px;

}

input[type=submit] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    font-size: 16px;
    background: var(--color1);
    cursor: pointer;
    margin: 5px 0px;
    float: right;
    font-family: var(--main_font);
    line-height: 1;
    font-weight: 700;

}

input[type=submit]:hover {
    color: var(--color2_hover);

}

::-webkit-input-placeholder {
    color: var(--placeholder);
    font-family: 'Roboto';
    font-size: 18px;
}

:-moz-placeholder {
    color: var(--placeholder);
    font-family: 'Roboto';
    font-size: 18px;
}

::-moz-placeholder {
    color: var(--placeholder);
    font-family: 'Roboto';
    font-size: 18px;
}

:-ms-input-placeholder {
    color: var(--placeholder);
    font-family: 'Roboto';
    font-size: 18px;
}

::placeholder {
    line-height: 1;
    padding: 5px 0 0 5px;
}


@media screen and (min-width: 769px) {
    .tooltip:hover .tooltiptext {
        display: inline-block;
    }
}

.validatr-message {
    max-width: 300px;
    padding: 5px !important;
    background-color: #ffa1a1 !important;
    color: #db2d2d !important;
    border: 1px solid #db2d2d !important;
}

#captcha_img, #captcha_code {
    display: none;
}


.standard_button {
    padding: 20px;
    color: #ffffff;
    position: relative;
    background: #FF9800;
    /*right: 18px;*/
    border-radius: 5px;
    font-weight: 600;
}

.standard_button:hover {
    color: #ffffff;
    background: #181818;
}


/*CONTACTAREA TOOLTIP*/
.tooltip {
    margin-bottom: 6px;
}

.tooltip .tooltiptext {
    display: none;
    width: 500px;
    max-width: 100%;
    background-color: #181818;
    color: #fff;
    border-radius: 3px;
    padding: 20px;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    z-index: 1;
    left: 47%;
    margin-top: -15%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* CUSTOM CHECKBOX ------------------*/
/* The container */
.checkcontainer {
    position: relative;
    padding-left: 10px;
    display: inline-block;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Hide the browser's default checkbox */
.checkcontainer input {
    display: none;
}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    left: 10px;
    height: 18px;
    width: 18px;
    background-color: #ffffff;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
    background-color: #FF9800;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: relative;
    display: none;
}

/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #252e34;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Custom ----------------------------------*/
.hinweisbox {
    padding: 20px;
    background: #ff6c54;
    color: #ffffff;
}

.hinweisbox h2 {
    color: #604900;
}

.hinweisbox a {
    color: #181818;
}

.hinweisbox a:hover {
    color: #999999;
}


/* ------ Neuer Beitrag Badge ----- */

.newbadge {
    Display: inline-block;
    background: #FF9800;
    font-style: italic;
    padding: 5px 8px;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 3px;
}

.newsletter_btn {
    color: #ffffff;
    background: linear-gradient(-45deg, rgba(140, 28, 3, 1) 0%, rgba(140, 28, 3, 1) 66%);
    font-family: 'Montserrat';
    font-weight: 300;
    margin: 10px auto;
    padding: 9px 15px;
    border-radius: 3px;
    font-family: 'Open Sans';

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    -o-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}


.newsletter_btn:hover {
    color: #ffffff;
    background: linear-gradient(-45deg, rgba(242, 160, 87, 1) 0%, rgba(242, 160, 87, 1) 66%);

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    -o-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}

/* Top News & My Profile----------------------------------*/


.rjin_bar {
    background: url(../assets/img/rjin_color.svg);
    background-repeat: repeat-x;
    width: 100%;
    height: 3px;
}

.top_news div {
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--basic_color);
    border-radius: 3px;
}

.top_news div h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    padding: 42px 30px 0;
}

.top_news div p {
    font-size: 18px;
    margin: 10px 0 0 0;
    padding: 0px 30px 40px;
}

.top_news ul p {
    margin: 25px 0 0 0;
    font-size: 14px;
    display: inline-block;
}

.top_news ul {
    margin-bottom: 40px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.top_news ul h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.top_news ul li {
    background-color: #ffffff;
    width: 39%;
    padding: 30px;
    border-radius: 3px;
}

.top_news ul a {
    text-decoration: none;
    color: #181818;
    background-color: #ffffff;
}

.top_news ul li a:hover {
}


.top_news span {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 29px;
    color: #ffffff;
}


.mobile_view {
    display: none;
}


.highlight_article {
    text-decoration: none;
    color: #ffffff;
}

.highlight_article:hover {
    color: #ffffff;
}

.highlight_article h1 {
    font-size: 2.8em !important;
}


.intro_icon {
    display: inline-block;
    float: right;
    margin-top: 20px;
}

.intro_icon, .content_icon {
    width: 30px;
}

.content_icon {
    display: inline-block;
    float: left;
    margin-right: 20px !important;
    margin-top: -7px !important;
}


/* Services ----------------------------------*/

.services {
    /* border: 1px solid red; */
    padding-bottom: 60px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.services_group ul {
    text-align: center;
    clear: both;
    /* border: 1px solid red; */
}

.services_group ul li {
    width: 24.5%;
    vertical-align: top;
    display: inline-block;
    /* border: 1px solid red; */
}

.services_group ul li p {
    margin: 0 !important;
    font-size: 1em;
    color: #999999;
}

.services_group ul li h2 {
    font-family: 'Montserrat';
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 26px;
}

/* Zielgruppe ----------------------------------*/

.target {
    background: #ffffff;
    overflow: hidden;
    padding: 100px 20px 90px;
    color: #101010;
    margin: 10px auto 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.target_group {
    max-width: 1100px;
    text-align: center;
    margin: 0px auto;

}

.target_group h2 {
    font-size: 2.3em;
    font-weight: 600;
    letter-spacing: -1px;

}

.target_group h2:before {
    Content: '';

}

.target_group h3 {
    color: #999999;
    font-weight: 300;
}

.target_group p {
    max-width: 1100px;
    font-size: 1.4em;

}

.target_group a {

    display: inline-block;
    color: var(--basic_color);
    background: rgb(252, 208, 130) !important;
    background: linear-gradient(-45deg, rgba(252, 208, 130, 1) 0%, rgba(253, 103, 90, 1) 56%) !important;

    text-decoration: none;
    font-weight: 600;
    padding: 15px 35px;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 2px;
    font-size: 18px;
}

.target_group a:hover {
    background: #101010 !important;
    background: linear-gradient(45deg, #101010, #101010) !important;
    color: #ffffff;
}

.orangebg {
    display: block;
    color: #ffffff;
    overflow-x: hidden;
    background: #FF9800 url(../../assets/img/pr-kontakt.jpg) no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.service_intro {
    color: #ffffff;
    background: #181818 url(http://mediathek.pr-tore.de/img/torwartung.jpg);
    background-position: center bottom;
    background-size: cover;
}

.orangebg ul li::before {
    /*  content: '✔ '; */
    content: url(../../assets/img/ok_check.svg);
    font-size: 24px;
    width: 22px;
    margin-right: 14px;
    font-weight: 300;
    color: #ffffff;
    position: relative;
    top: 2px;
}

.orangebg ul li {
    padding: 5px 0px;
    font-size: 1.2em;
}

.orangebg a {
    background: #181818;
    color: #ffffff;
}

.orangebg a:hover {
    background: #ffffff;
    color: #181818;
}

.orangebutton {
    background: #FF9800;
    padding: 20px;
    font-size: 1.2em;
    color: #ffffff;
    border-radius: 5px;
    display: inline-block;
}

.orangebutton:hover {
    background: #181818;
    color: #ffffff;
}

.cloud {
    margin: 20px auto;
    max-width: 1100px;
}

.termcloud li {
    display: inline-block;
    background: #ffffff;
    padding: 5px 12px;
    font-size: 14px;
    border-radius: 15px;
    margin-top: 10px;
}

.hashtag {
    background: none !important;
}

/* My Profile----------------------------------*/
.my_profile {
    text-align: center;
    margin: 0 0 0 0;
    color: #ffffff;
}

.my_profile img {
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    margin-top: 30px;
}

.my_profile h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
}

.my_profile p {
    margin: 0 0 0 0;
    font-size: 16px;
}

.my_profile a {
    margin: 40px 0 0 0;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    color: var(--basic_color);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.top_profile {
    background-color: rgba(123, 39, 160, 0.9);
    margin: 52px auto 30px;
    width: 300px;
    padding-bottom: 50px;
    border-radius: 3px;
}


/* Main Content ---------------------------------------------------------------*/

.main_content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding-bottom: 40px;
}

.main_content {
    font-family: 'Open Sans';
}

.main_content_title {
    font-family: 'Open Sans';
    margin: 40px auto 30px;
    width: 80%;
    overflow: hidden;
}


.main_content_title p {
    margin: 0px;
    font-size: 0.8em;
    color: #999999;
}

.main_content_title div {
    text-align: center;
    float: left;
    width: 33%;
}


.main_content_title h2 {
    font-family: 'Montserrat';
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 26px;
}

.main_content h2 {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;
}


.main_content p {
    margin: 0px !important;
    padding: 0px 20px;
}

.main_content ul {
    margin: 10px 20px;
}

.seo_list li {
    display: block;
    color: #333333;
    background-color: #FFEB89;
    padding: 8px 10px;
}

.graphic_list li {
    background-color: #4ECDC4;
    display: block;
    color: #ffffff;
    padding: 8px 10px;
}

.mark_list li {
    background-color: #FF6B6B;
    display: block;
    color: #ffffff;
    padding: 8px 10px;
}


.zitate {
    font-family: 'Cormorant Garamond';
    color: #4ECDC4;
    font-weight: 500;
    font-style: italic;
    font-size: 1.8em;
    text-align: center;
}

.smh {
    padding: 10px 20px 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans';
    color: #333333;
    opacity: 0.3;
    font-size: 0.7em !important;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}


/* Spalten auf der Startseite ITS ME ---------------------------------------------------------------*/

.itsme {
    overflow: hidden;
    width: 80%;
    margin: 0px auto;
}

.itsme p {
    padding: 10px 0;

}

.itsme hr {
    margin: 50px 0 15px;
    height: 1px;
    background-color: #ffffff;
}

.itsme .column_one a {
    color: #00CCC0;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;

}

.itsme .column_one a:hover {
    color: #999999;
}

.itsme img {
    margin: 0px auto 25px;
}

.itsme .default, .itsme .study, .itsme .quote {
    display: block;
    padding: 37px 30px;
    margin-top: -1px;
    margin-bottom: 15px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    background-color: #f1f1f1;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.itsme .study {
    background: rgb(252, 208, 130);
    background: linear-gradient(-45deg, rgba(252, 208, 130, 1) 0%, rgba(253, 103, 90, 1) 56%);
    color: #ffffff;
}

.itsme .default {
    background-color: #cdd5de;
    color: #181818;
}

.itsme .quote {
    background: rgb(20, 224, 195);
    background: linear-gradient(-45deg, rgba(20, 224, 195, 1) 0%, rgba(28, 154, 190, 1) 66%);
    color: #ffffff;
}

.column_one div, .column_two div, .column_three div {
    padding: 30px 30px 50px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.column_one, .column_two, .column_three {
    width: 32%;
    display: inline-block;
    float: left;
    margin-right: 15px;
}

.column_three {
    width: 33%;
    display: inline-block;
    float: left;
    margin-right: 0px;
}

.column_one div {
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


.column_one div {
    background: #ffffff !important;
    display: block;
    border-top: 5px solid rgba(236, 241, 247, 0.5);
    border-right: 5px solid rgba(236, 241, 247, 0.5);
    border-left: 5px solid rgba(236, 241, 247, 0.5);
    border-bottom: 5px solid rgba(236, 241, 247, 0.5);
}

.column_two div, .column_three div {
    background: #ffffff !important;
    display: block;
    border-top: 5px solid rgba(236, 241, 247, 0.5);
    border-right: 5px solid rgba(236, 241, 247, 0.5);
    border-left: 5px solid rgba(236, 241, 247, 0.5);
}


.tueren img {
    max-width: 480px !important;
}

.titlearea {
    padding: 60px 20px;
    color: #181818;
    border-top: 5px solid #FF9800;
}

.titlearea p {
    margin-bottom: 40px;
}

article h1 {
    margin-bottom: 20px;
}

article h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

article a {
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

section.product_group {
    background: none;
    text-align: center;

}

section.product_group img {
    width: 100%;
    height: auto;
    border-radius: 14px;
}

section.product_group ul li {
    display: inline-block;
    width: 18%;
    margin: 0px 10px 60px;
    min-height: 250px;
    border-radius: 14px;
}

.krankenkasse img {
    border-radius: 12px;

}


.phonecall {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.phoneicon, .mailicon {
    width: 80px;
    height: auto;
}

.mailicon {
    float: left;
}

.phoneicon {
    float: right;
}

/* Sidebar -------------------------------------*/
.sidebar_firstbox {
    background-color: #f1f1f1;
    min-height: 150px;
}

.autor {
    background: #00CCC0;
    overflow: hidden;
}

.autor ul li {
    display: inline-block;
    float: left;
    width: auto;
    border: 1px solid red;
}

.autor h3, .autor p {
    color: #ffffff;
    margin: 0px;
    font-size: 0.9em;
}

.autor ul li:nth-child(2) {
    margin-top: 17px;
}

.autor ul li:nth-child(1) {
    padding: 15px 20px;
}

.autor_pic {
    float: left;
    padding: 18px 20px 18px 20px;
}

.autor_pic img {
    max-width: 80px;
}

.autor_info {
    float: left;
    padding: 20px 0;
}


.sidebar_instagram_btn {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    margin-top: 8px;
}

.sidebar_instagram_btn:hover {
    color: rgba(255, 255, 255, 0.5);
}

.sidebar_instagram_btn img {
    width: 16px;
    position: relative;
    top: 4px;
    margin-right: 5px;
}

/* Article -------------------------------------*/
article {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

.div_box_article {
    max-width: 61%;
    max-width: 1147px;
    min-width: 1147px;
    margin: 30px auto;
}

.div_box_article a {
    margin: 0px 15px 0px 5px;
    text-decoration: none;
    font-size: 0.9em;
    color: var(--font_color);
}

.div_box_article a:first-child {
    font-weight: 600;
}


.section-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 20px;
    overflow: hidden;
}

.section-inner ul.standard_ul {
    padding: 0 20px;
    list-style: disc;
    color: var(--font_color_light);
}

.section-inner li {
    line-height: 2em;
}

/* Referenzen ----------------------------------*/
.ref {
    background-color: var(--lightgrey);
    min-height: 500px;
}

/* Newsletter -------------------------------------*/


.NL_intro {
    margin-bottom: 30px;
    text-align: left;
}

.NL_intro h2 {
    font-size: 1.4em;
}


.feature_ {
    border-radius: 50px;
    margin-top: 30px;
    display: inline-block;
    padding: 4px 13px;
    font-size: 40px;
    background: #00CCC0;
    color: #ffffff;
}


.button {
    display: inline-block;
    color: var(--basic_color);
    background: none;
    text-decoration: none;
    font-weight: 600;
    padding: 15px 35px;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 2px;
    font-size: 18px;
}

.button:hover {
    background-color: #181818;
    color: #ffffff;
}

::-webkit-input-placeholder {
    color: var(--placeholder);
    font-style: italic;
}

:-moz-placeholder {
    color: var(--placeholder);
    font-style: italic;
}

::-moz-placeholder {
    color: var(--placeholder);
    font-style: italic;
}

:-ms-input-placeholder {
    color: var(--placeholder);
    font-style: italic;
}


/* Footer ------------------------------------------*/
footer {
    background-color: #000000;
    min-height: 200px;
    padding-top: 90px;
    padding-bottom: 60px !important;
    position: relative;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

footer {
    padding: 60px 20px 0 20px;
}

footer .lastcolumn img {
    margin-right: 24px;
}

footer .lastcolumn li {
    color: var(--footer_link_color);
    float: right;
    width: 100%;
}

footer .lastcolumn ul {
    overflow: hidden;
}

footer .kontaktdaten {
    margin-bottom: 40px;
}

footer .kontaktdaten span {
    color: #F2A057;
    text-decoration: none !important;
}

footer li a {
    padding: 3px 0;
    display: inline-block;
    color: var(--footer_link_color);
}

footer li a:hover {
    color: var(--footer_link_color_hover);

}

footer .current {
    color: var(--footer_link_color_hover);
}

.footer_headline {
    color: #F2A057;
}

.footer_logo {
    margin-top: 0px;
    margin-bottom: 40px;
    display: block;
    float: right;
}

.handwritten {
    text-align: center;
    padding: 20px 20px 40px
}

.xing_gruppe ul li {
    font-size: 12px;
}

.instagram_btn {
    display: none;
}

/* Copyright ----------------------------------*/
.copyright {
    background: var(--color2_hover);
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--footer_link_color);
}

.copytext {
    color: var(--copytext_color);
    letter-spacing: 0.5px;
}

/*#cookie-bar.fixed.bottom {bottom:0; top:auto;}*/
/* COOKIES****************************************/
#cookie-bar {
    background: #181818;
    padding: 25px 25px;
    border-radius: 3px;
    position: fixed;
    bottom: 2%;
    left: 1%;
    width: 365px;
    z-index: 9999;
}

#cookie-bar p {
    color: #ffffff;
    margin: 0;
    font-size: 12px;
    line-height: 22px;
}

#cookie-bar p:before {
    content: 'Cookies';
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

#cookie-bar p a {
    color: var(--nav_link_color_hover);
}

#cookie-bar a.cb-enable {
    background: #FF9800;
    color: #ffffff;
    font-weight: bold;
    display: block;
    width: 20px;
    border-radius: 2px;
    text-decoration: none;
    padding: 5px 14px;
    margin: 15px 0px 0px 0px;
}

#cookie-bar .cb-enable:hover {
    background: #FF9800;
}

@media screen and (max-width: 850px) {
    #cookie-bar {
        padding: 15px 10px;
        width: 90%;
        left: 2%;
    }

    #cookie-bar a.cb-enable {
        padding: 3px 14px;
        display: block;
        width: fit-content
    }
}
