/* Section -------------------------------------*/
section,
copyright,
footer {
	margin: 0 auto 0;
	border: 0 solid red;
	padding: 20px;
}

section {
	background-color: #ffffff;
	padding: 60px 80px 0;

	&.vcard section {
		padding: 0 0 0 0;
	}

	img {
		width: 100%;
	}
}
