/* Google Webfont*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family= Source + Sans + Pro: 400.600.700 & display = swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,400i,500,500i,600,700');

body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 2.6em;
    font-weight: 500;
}

h2 {
    font-size: 2.3em;
    font-weight: 400;
}

h3 {
    font-size: 1.5em;
    font-weight: 300;
}

.bold {
    font-weight: 700;
}


.text-small {
    font-size: 0.875rem !important;
}

.text-semi {
    font-size: 1.2em !important;
}

.text-large {
    font-size: 1.5em !important;
}